# Data Ingestion

In [22]:
import pandas as pd
from datasets import load_dataset
import os

In [23]:
os.getcwd()

'c:\\Users\\amman\\Documents\\MLOPS\\Youtube-Sentiment-Insights'

In [4]:
os.chdir("../")

In [5]:
os.getcwd()

'c:\\Users\\amman\\Documents\\MLOPS\\Youtube-Sentiment-Insights'

In [24]:
data = load_dataset("AmaanP314/youtube-comment-sentiment", split="train")
df = data.to_pandas()
df.head()

                    CommentID      VideoID  ... CountryCode CategoryID
0  UgyRjrEdJIPrf68uND14AaABAg  mcY4M9gjtsI  ...          NZ          1
1  UgxXxEIySAwnMNw8D7N4AaABAg  2vuXcw9SZbA  ...          AU         17
2  UgxB0jh2Ur41mcXr5IB4AaABAg  papg2tsoFzg  ...          IN         27
3  UgwMOh95MfK0GuXLLrF4AaABAg  31KTdfRH6nY  ...          US         27
4  UgxJuUe5ysG8OSbABAl4AaABAg  -hV6aeyPHPA  ...          US          2

[5 rows x 12 columns]

We will only use the ``CommentText `` and ``Sentiment`` columns

In [25]:
columns_to_keep = ['CommentText', 'Sentiment']
df = df[columns_to_keep]
df.columns = ['text', 'label']

In [26]:
df.head()

                                                text     label
0                    Anyone know what movie this is?   Neutral
1  The fact they're holding each other back while...  Positive
2                        waiting next video will be?   Neutral
3  Thanks for the great video.\n\nI don't underst...   Neutral
4  Good person helping good people.\nThis is how ...  Positive

In [11]:
df.shape

(1032225, 2)

In [20]:
df.sample(1)

                                                     text  label
372732  I would much prefer a mint condition Cortina M...     -1

In [27]:
# Save to CSV
df.to_csv("data/youtube_comment_sentiment.csv", index=False)